.center {
    text-align: center;
}

.red {
    background-color: rgb(170, 90, 90);
}

p {
    font-size: 1.3rem;
    margin: 2rem;
}

body {
    display: block;
    padding: 2rem;
    margin: 2rem;
}