<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title> Add Classes </title>
		<!-- Bootstrap core CSS -->
		 <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
		 <!-- Custom styles for this template -->
		 <link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">
	</head>

	<body class="text-center" style="background-color:white">

		<div class="cover-container d-flex h-100 p-3 mx-auto flex-column" style="background-color:#A52A2A;width:556.56px;">
			<form action="/addclasses" method=post class=addclasses>
				<div style="text-align:center;">
					<h3 style="margin-top:20%"> Enter your name:</p>
					<input type=text size=30 name=user_name placeholder="Ex: Shriram Krishnamurthi">
					<h5 style="margin-top:20%"> Enter the list of classes you have taken, <br>with commas in between: </p>
					<textarea name=classes_taken rows=5 cols=40 placeholder="Ex: CSCI 0190, CSCI 0150"></textarea>
			 		<input style="display:block;" type=submit value=Enter>
			 	</div>
			</form>
		</div>

	</body>
</html>
