<!DOCTYPE html>

<html>
	<head>
		<title> Add Classes </title>
	</head>

	<body>

		<form action="/addclasses" method=post class=addclasses>
			<div>
				<p style="font-size:12pt"> Enter your name: (ex. Shriram Krishnamurthi) </p>
				<input type=text size=30 name=user_name required>
				<p style="font-size:12pt"> Enter the list of classes you have taken, with commas in between (ex. CSCI 0190, CSCI 0150): </p>
				<textarea name=classes_taken rows=5 cols=40 required></textarea>
		 		<input type=submit value=Enter>
		 	</div>
		</form>

	</body>
</html>