{% extends "layout.html" %}

{% block title %}Course{% endblock %}

{% block main %}
   <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '393143551111732',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.11'
      });
      FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
      });
    };
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
     function statusChangeCallback(response){
       if(response.status === 'connected'){
         console.log('Logged in and authenticated');
         setElements(true);
       } else {
         console.log('Not authenticated');
         setElements(false);
       }
     }
     function checkLoginState() {
       FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
       });
     }

     function setElements(isLoggedIn){
       if(isLoggedIn){
            FB.api('/me', {fields: 'id'}, function(response) {
                    window.location = '/addCourses?id=' + response.id;
            });
       }
     }

     function logout() {
       FB.logout(function(response){
         setElements(false);
       });
     }
  </script>

  <img src="brownlogo.png" style="position:absolute; width:25%; margin-top:5%; opacity:0.1;">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column" style="background-color: #A52A2A">

      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">ClassConnect</h3>
          <nav class="nav nav-masthead justify-content-center">
            <li><a id="logout" href="#" onclick="logout()">Logout</a><li>
            <fb:login-button id="login-button"
              scope="public_profile,email,user_friends"
              onlogin="checkLoginState();">
            </fb:login-button>
          </nav>
        </div>
      </header>
     <div  class="inner cover" id="prompt" class="block">
    <form action="/" method="post">
            <div class="form-group">
                <input class="col-4" autofocus class="form-control" name="course" placeholder="Course Title" type="text"/>
            </div>
            <button class="btn btn-danger m-2" type="submit">Connect</button>
        </form>
        </div>
      <div id="welcome" style="width:556.56px; margin-bottom:50%">
        <h1>Welcome to</h1>
        <img src="static/logo.png">
        {% for student in students %}
            <p>{{ student[0] }}</p>
        {% endfor %}
      </div>

  </div>



{% endblock %}
